#devise
  %h2 forgot password?

  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
    = render "devise/shared/error_messages", resource: resource

    .field
      = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "email"

    .actions= f.submit "send instructions"

  %p If you have forgotten your password, enter your email and you'll be sent reset instructions.

  .links= render "devise/shared/links"
