!!!
%html
  %head
    %title Forty
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    = csrf_meta_tags

    %link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Prompt:300,700,900")
    %link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i")

    %script(src="//js.honeybadger.io/v2.3/honeybadger.min.js" type="text/javascript")

    = favicon_link_tag 'favicon.png'

    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'

  %body
    #wrapper
      %header
        %nav
          %a(href="/today") today
          %a(href="/pto") pto
          %a(href="/account") account
      %main
        - if flash.any?
          %aside.flash
            %ul
              - flash.each do |type, message|
                %li{class: type}= message

        = yield
      %footer
